*{
  box-sizing: border-box;
}
*::-webkit-scrollbar-thumb{
  background:rgb(180, 180, 180);
}
*::-webkit-scrollbar{
  width:0.2rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:#f4f4f4; */
  /* background: #ffe6ee; */
  /* background: #ffc2d8; */
  /* background: linear-gradient(90deg, #ffe7dd, #ffe1e6);; */
  background: linear-gradient(90deg, #ffe1e6, #ffffff);;
}
body::-webkit-scrollbar{
  width:0.8rem;
}
body::-webkit-scrollbar-thumb{
  background: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* background: linear-gradient(to right, rgba(68, 152, 255, 0.416), rgba(184, 255, 240, 0.1)) */
}
